<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  	layout:decorate="~{fragments/mainLayout}">
	<head>
		<title>Dashboard</title>
		
		<style layout:fragment="pageStyles">
			body {
			    background-color: linen;
			}
		</style>
	</head>
	<body>
		    <main layout:fragment="content">
				<div class="row">
					<div class="col-md-8 order-md-1">
						<h4 class="mb-3">Item Details</h4>
						
						<form autocomplete="off" action="#" th:action="@{/addItem}" th:object="${item}" method="post" class="form-horizontal" role="form">
							<div class="form-group">
								<div class="col-sm-9">
									<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></label>
									<input type="text" th:field="*{name}" placeholder="Name" class="form-control" /> 
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-sm-9">
									<button type="submit" class="btn btn-primary btn-block">Add Item</button>
								</div>
							</div>
							
							<span th:utext="${successMessage}"></span>
						</form>
					</div>
					<div class="col-md-4 order-md-2 mb-4">
						<h4 class="d-flex justify-content-between align-items-center mb-3">
				        		<span class="text-muted">Shopping List</span>
				            <span class="badge badge-secondary badge-pill" th:text="${items.size()}">0</span>
				    		</h4>
				    		<ul class="list-group mb-3">
				    			<li class="list-group-item d-flex justify-content-between lh-condensed" th:each="item : ${items}">
				            		<div>
				                		<h6 class="my-0" th:text="${item.name}">Name</h6>
				              	</div>
				              	<a href="javascript:void();" class="oi oi-circle-x text-danger deleteItem" th:attr="data-id=${item.id}"></a>
				            </li>
				    		</ul>
					</div>
				</div>
		    </main>
		    
		    <div layout:fragment="pageScripts">
		    		<script>
					$(".deleteItem").bind("click", function () {
						$.ajax({
							url : "deleteItem/" + $(this).data("id"),
							method: "POST",
							success: function(resultMsg){
								location.href = location.href;
							},
							error : function(e) {
								alert("ERROR: ", e);
								console.log("ERROR: ", e);
							}
						});
					});
				</script>
		    </div>
	</body>
</html>